/* line 218, sprites/ui/*.png */
.ui-sprite, .ui-app-amazon, .ui-app-facebook, .ui-app-huluplus, .ui-app-iheart, .ui-app-netflix, .ui-app-pandora, .ui-app-spotify, .ui-app-twitter, .ui-app-whitebg, .ui-app-yahoo, .ui-app-youtube, .ui-bluetooth, .stamp-logo-3 span, .ui-dolby, .stamp-logo-1 span, .ui-dts, .stamp-logo-2 span, .ui-icon-e-series, .ui-icon-m-series, .ui-icon-p-series, .ui-icon-ref-series, .ui-icon-smartaudio, .ui-icon-soundbar, .ui-icon-soundbase, .ui-icon-viaplus, .ui-vizio-logo, .global-nav-wrapper .mainlogo {
  background: url('/static/img/sprites/ui-se28c9b4e51.png') no-repeat;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-app-amazon {
  background-position: 0 0;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-app-facebook {
  background-position: 0 -463px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-app-huluplus {
  background-position: 0 -75px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-app-iheart {
  background-position: 0 -613px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-app-netflix {
  background-position: 0 -237px;
  height: 61px;
  width: 60px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-app-pandora {
  background-position: 0 -388px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-app-spotify {
  background-position: 0 -538px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-app-twitter {
  background-position: 0 -937px;
  height: 61px;
  width: 60px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-app-whitebg {
  background-position: 0 -1195px;
  height: 61px;
  width: 60px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-app-yahoo {
  background-position: 0 -775px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-app-youtube {
  background-position: 0 -313px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-bluetooth, .stamp-logo-3 span {
  background-position: 0 -688px;
  height: 72px;
  width: 140px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-dolby, .stamp-logo-1 span {
  background-position: 0 -850px;
  height: 72px;
  width: 140px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-dts, .stamp-logo-2 span {
  background-position: 0 -150px;
  height: 72px;
  width: 140px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-icon-e-series {
  background-position: 0 -1473px;
  height: 32px;
  width: 44px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-icon-m-series {
  background-position: 0 -1327px;
  height: 38px;
  width: 46px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-icon-p-series {
  background-position: 0 -1380px;
  height: 38px;
  width: 48px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-icon-ref-series {
  background-position: 0 -1271px;
  height: 41px;
  width: 52px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-icon-smartaudio {
  background-position: 0 -1433px;
  height: 25px;
  width: 47px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-icon-soundbar {
  background-position: 0 -1149px;
  height: 31px;
  width: 57px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-icon-soundbase {
  background-position: 0 -1105px;
  height: 29px;
  width: 45px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-icon-viaplus {
  background-position: 0 -1052px;
  height: 38px;
  width: 51px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-vizio-logo, .global-nav-wrapper .mainlogo {
  background-position: 0 -1013px;
  height: 24px;
  width: 100px;
}

/* line 18, src/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* line 25, src/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 32, src/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 37, src/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 42, src/_reset.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 48, src/_reset.scss */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 53, src/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 59, src/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 65, src/_reset.scss */
sup {
  top: -0.5em;
}

/* line 68, src/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 73, src/_reset.scss */
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 85, src/_reset.scss */
#map_canvas img {
  max-width: none;
}

/* line 93, src/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 99, src/_reset.scss */
button,
input {
  *overflow: visible;
  line-height: normal;
}

/* line 104, src/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 111, src/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 115, src/_reset.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 122, src/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 125, src/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 131, src/_reset.scss */
ul, ol {
  padding: 0;
  margin: 0 0 0.6 25px;
}

/* line 138, src/_reset.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 141, src/_reset.scss */
li {
  line-height: 1.2;
}

/* line 145, src/_reset.scss */
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* line 149, src/_reset.scss */
dl {
  margin-bottom: 1.2;
}

/* line 153, src/_reset.scss */
dt,
dd {
  line-height: 1.2;
}

/* line 156, src/_reset.scss */
dt {
  font-weight: bold;
}

/* line 159, src/_reset.scss */
dd {
  margin-left: 0.6;
}

/* line 16, src/_scaffolding.scss */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: white;
  background-color: black;
  text-align: center;
}

/* line 29, src/_scaffolding.scss */
.embed-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
/* line 34, src/_scaffolding.scss */
.embed-container iframe, .embed-container object, .embed-container embed, .embed-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 7, src/_type.scss */
a {
  color: #0088cc;
  text-decoration: none;
}
/* line 10, src/_type.scss */
a:hover {
  color: #005580;
}

/* line 17, src/_type.scss */
p {
  margin: 0 0 0.6;
  font-family: "Proxima N W15 Reg";
  font-size: 20px;
  position: relative;
}

/* line 28, src/_type.scss */
small {
  font-size: 85%;
}

/* line 29, src/_type.scss */
strong {
  font-weight: bold;
}

/* line 30, src/_type.scss */
em {
  font-style: italic;
}

/* line 31, src/_type.scss */
cite {
  font-style: normal;
}

/* line 36, src/_type.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0.6 0;
  line-height: 1;
  text-rendering: optimizelegibility;
  text-spacing: 10;
}

/* line 43, src/_type.scss */
h1 {
  font-size: 65px;
  line-height: 40px;
  position: relative;
  top: 200px;
  color: white;
  font-family: "Proxima N W15 Smbd";
  margin: 0;
  text-align: center;
}

/* line 54, src/_type.scss */
h2 {
  font-size: 64px;
  line-height: 50px;
  color: white;
  position: relative;
  top: 300px;
  font-family: "Proxima N W01 Thin Reg";
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
  letter-spacing: 1.5px;
}

/* line 67, src/_type.scss */
h3 {
  font-size: 55px;
  line-height: 55px;
  color: white;
  font-weight: 100;
  padding: 0;
  margin: 20px 0 20px 0;
  letter-spacing: 1.5px;
}

/* line 77, src/_type.scss */
h4 {
  font-size: 40px;
  line-height: 40px;
  color: #ac3322;
  position: relative;
  top: 320px;
  font-family: "Proxima N W01 Thin Reg";
  font-weight: 100;
  padding: 0;
  margin: 0;
  letter-spacing: 1.5px;
}

/* line 90, src/_type.scss */
h5 {
  font-size: 36px;
  line-height: 36px;
  color: #ac3322;
  font-family: "Proxima N W01 Thin Reg";
  font-weight: 100;
  padding: 0;
  margin: 60px 0 25px 0;
  letter-spacing: 1.5px;
}

/* line 101, src/_type.scss */
h6 {
  font-family: "Proxima N W15 Reg";
  font-size: 16px;
  text-transform: uppercase;
  color: #303030;
  line-height: 20px;
  margin: 0;
}

/* line 111, src/_type.scss */
hr {
  margin: 1.2 0;
  height: 2px;
  border: 0;
  margin-top: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid white;
}

/* line 121, src/_type.scss */
address {
  display: block;
  margin-bottom: 1.2;
  font-style: normal;
  line-height: 1.2;
}

/* line 5, src/_c-buttons.scss */
button {
  background-color: transparent;
  border: 1px solid #303030;
  padding: 0;
  color: #bbbbbb;
  font-family: "Proxima N W15 Reg";
  font-size: 15px;
  text-transform: uppercase;
}
/* line 15, src/_c-buttons.scss */
button:hover {
  background-color: #303030;
  border: 1px solid black;
  color: black;
}
/* line 22, src/_c-buttons.scss */
button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 28, src/_c-buttons.scss */
.btn, footer .footer-btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}
/* line 32, src/_c-buttons.scss */
.btn .btn-large, footer .footer-btn .btn-large {
  width: 268px;
  height: 56px;
}
/* line 37, src/_c-buttons.scss */
.btn .btn-medium, footer .footer-btn .btn-medium {
  width: 188px;
  height: 46px;
  margin: 10px;
}

/* line 4, src/_p-styles-template.scss */
.series-wrapper {
  color: #bbbbbb;
}
/* line 8, src/_p-styles-template.scss */
.series-wrapper .series-info {
  width: 600px;
  line-height: 30px;
  font-weight: 100;
  margin: auto;
}
/* line 15, src/_p-styles-template.scss */
.series-wrapper .details {
  width: 285px;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  line-height: 25px;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
}
/* line 26, src/_p-styles-template.scss */
.series-wrapper .details span {
  font-size: 25px;
  line-height: 25px;
  display: block;
  margin-bottom: 20px;
  line-height: 30px;
}

/* line 36, src/_p-styles-template.scss */
blockquote {
  width: 569px;
  margin: auto;
  text-align: justify;
  position: relative;
  top: 70px;
  quotes: "“" "”" "‘" "’";
}
/* line 44, src/_p-styles-template.scss */
blockquote:before {
  content: open-quote;
  position: absolute;
  color: #303030;
  font-size: 50px;
  font-weight: bold;
  font-family: timesNewRoman;
  left: -35px;
  top: -7px;
}
/* line 56, src/_p-styles-template.scss */
blockquote p {
  line-height: 40px;
  font-size: 18px;
  font-weight: 100;
  font-family: "Proxima N W15 Reg";
  color: #bbbbbb;
  border-bottom: 1px solid #303030;
  padding-bottom: 10px;
  display: inline;
  position: relative;
}
/* line 67, src/_p-styles-template.scss */
blockquote p:after {
  content: close-quote;
  position: absolute;
  color: #303030;
  font-size: 50px;
  font-weight: bold;
  font-family: timesNewRoman;
  right: -35px;
  bottom: -7px;
}

/* line 80, src/_p-styles-template.scss */
.stamp, .stamp-logo-1, .stamp-logo-2, .stamp-logo-3, .details-stamp {
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  display: inline-block;
  width: 200px;
  height: 80px;
  padding: 20px;
  margin: 20px;
}
/* line 89, src/_p-styles-template.scss */
.stamp p, .stamp-logo-1 p, .stamp-logo-2 p, .stamp-logo-3 p, .details-stamp p {
  font-family: "Proxima N W15 Reg";
  font-size: 55px;
  color: white;
  letter-spacing: -1px;
  position: relative;
  top: -55px;
}
/* line 98, src/_p-styles-template.scss */
.stamp span, .stamp-logo-1 span, .stamp-logo-2 span, .stamp-logo-3 span, .details-stamp span {
  font-size: 14px;
  color: #bbbbbb;
  display: block;
  margin-top: 0;
}

/* line 106, src/_p-styles-template.scss */
.stamp-logo-1 {
  width: 158px;
  height: 70px;
  padding: auto;
}
/* line 111, src/_p-styles-template.scss */
.stamp-logo-1 span {
  display: inline-block;
  margin: 0;
}

/* line 119, src/_p-styles-template.scss */
.stamp-logo-2 {
  width: 158px;
  height: 70px;
  padding: auto;
}
/* line 124, src/_p-styles-template.scss */
.stamp-logo-2 span {
  display: inline-block;
  margin: 0;
}

/* line 131, src/_p-styles-template.scss */
.stamp-logo-3 {
  width: 158px;
  height: 70px;
  padding: auto;
}
/* line 136, src/_p-styles-template.scss */
.stamp-logo-3 span {
  display: inline-block;
  margin: 0;
}

/* line 143, src/_p-styles-template.scss */
.details-stamp {
  float: right;
  position: relative;
  width: 125px;
  height: 90px;
  top: 65px;
}
/* line 151, src/_p-styles-template.scss */
.details-stamp p {
  display: inline-block;
  font-size: 35px;
  letter-spacing: -1px;
  position: relative;
  top: -20px;
}
/* line 159, src/_p-styles-template.scss */
.details-stamp p:last-child {
  left: -10px;
}

/* line 165, src/_p-styles-template.scss */
.btn, footer .footer-btn {
  width: 100%;
}
/* line 168, src/_p-styles-template.scss */
.btn .btn-large, footer .footer-btn .btn-large {
  display: block;
  margin: auto auto 100px auto;
}
/* line 173, src/_p-styles-template.scss */
.btn div, footer .footer-btn div {
  margin: 25px;
}

/* line 6, src/_page-home.scss */
.global-nav-wrapper {
  height: 550px;
  width: 100%;
  background-image: url("/static/img/showfloor.png");
  background-size: 100%;
}
/* line 12, src/_page-home.scss */
.global-nav-wrapper .mainlogo {
  position: absolute;
  top: 40px;
  left: 40px;
}
/* line 19, src/_page-home.scss */
.global-nav-wrapper p {
  text-transform: uppercase;
  font-family: "Proxima N W01 Thin Reg";
  font-weight: 100;
  font-size: 30px;
  margin-top: -20px;
  word-spacing: 2.5px;
  position: relative;
  top: 235px;
}
/* line 30, src/_page-home.scss */
.global-nav-wrapper nav {
  position: relative;
  top: 300px;
}
/* line 34, src/_page-home.scss */
.global-nav-wrapper nav li {
  display: inline-block;
  margin: 17px;
  text-transform: uppercase;
}
/* line 39, src/_page-home.scss */
.global-nav-wrapper nav li:last-child span {
  width: 100px;
  text-align: center;
  margin: auto;
}
/* line 44, src/_page-home.scss */
.global-nav-wrapper nav li .ui-icon-viaplus {
  position: relative;
  left: 25%;
}
/* line 51, src/_page-home.scss */
.global-nav-wrapper nav span {
  display: block;
  margin: auto;
  position: relative;
}
/* line 57, src/_page-home.scss */
.global-nav-wrapper nav .navbar-undertitle {
  width: 69px;
  position: relative;
  top: 15px;
}

/* line 68, src/_page-home.scss */
.reference-series {
  height: 1050px;
  width: 100%;
  margin: 0;
  background-image: url("/static/img/reference-hero.png");
  background-size: 100%;
  position: relative;
}
/* line 76, src/_page-home.scss */
.reference-series .series-info {
  top: 325px;
}

/* line 82, src/_page-home.scss */
.references-series-details {
  height: 1806px;
  width: 100%;
  background-image: url("/static/img/reference-hero2.png");
  background-size: 100%;
}
/* line 88, src/_page-home.scss */
.references-series-details .series-info {
  font-size: 21px;
}
/* line 92, src/_page-home.scss */
.references-series-details .title {
  position: relative;
  top: 60px;
}
/* line 97, src/_page-home.scss */
.references-series-details .splitter {
  height: 700px;
  width: 100%;
}
/* line 102, src/_page-home.scss */
.references-series-details .main-details {
  width: 1100px;
  margin: auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 108, src/_page-home.scss */
.references-series-details .details-wrapper {
  height: 350px;
  width: 500px;
  margin: 10px;
  float: left;
}

/* line 117, src/_page-home.scss */
.performance-wrapper {
  background-color: #131313;
  height: 735px;
}

/* line 124, src/_page-home.scss */
.performance-info aside {
  text-align: left;
  width: 500px;
  padding: 0;
  margin: 20px;
  position: relative;
  top: 150px;
  left: 200px;
}
/* line 133, src/_page-home.scss */
.performance-info aside p {
  width: 400px;
  font-size: 16px;
}
/* line 139, src/_page-home.scss */
.performance-info h5 {
  top: 0;
  margin: 0;
}

/* line 145, src/_page-home.scss */
.speed-graph {
  height: 170px;
  width: 440px;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  position: relative;
  left: 750px;
}
/* line 153, src/_page-home.scss */
.speed-graph p {
  font-size: 30px;
  width: 40px;
  position: relative;
  top: 40px;
  left: 25px;
  font-family: "Proxima N W01 Thin Reg";
  margin: 0;
}
/* line 164, src/_page-home.scss */
.speed-graph .faster {
  width: 300px;
  border-top: 4px solid #ac3322;
  position: relative;
  left: 105px;
  top: 15px;
  margin-bottom: 20px;
  color: #ac3322;
}
/* line 174, src/_page-home.scss */
.speed-graph .slower {
  width: 300px;
  border-top: 4px solid #bbbbbb;
  position: relative;
  left: 105px;
  top: 15px;
}
/* line 182, src/_page-home.scss */
.speed-graph span {
  font-size: 13px;
  font-family: "Proxima N W15 Smbd";
  text-transform: uppercase;
}
/* line 188, src/_page-home.scss */
.speed-graph .left {
  float: left;
  margin-top: 10px;
}
/* line 193, src/_page-home.scss */
.speed-graph .right {
  float: right;
  margin-top: 10px;
}

/* line 199, src/_page-home.scss */
.audio {
  height: 1050px;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 205, src/_page-home.scss */
.audio .title-wrapper {
  background-image: url("/static/img/reference-hero3.png");
  background-size: 100%;
  height: 460px;
  width: 100%;
}

/* line 213, src/_page-home.scss */
.audio-details {
  margin-top: 80px;
}
/* line 216, src/_page-home.scss */
.audio-details p {
  width: 605px;
  font-size: 16px;
  margin: auto;
}
/* line 222, src/_page-home.scss */
.audio-details .stamp-logo-wrapper {
  margin-top: 60px;
}

/* line 227, src/_page-home.scss */
.viaplus-wrapper {
  background-color: #131313;
}
/* line 230, src/_page-home.scss */
.viaplus-wrapper h5 {
  padding-top: 60px;
}
/* line 234, src/_page-home.scss */
.viaplus-wrapper .viaplus-info {
  width: 600px;
  margin: auto;
  font-size: 16px;
}

/* line 242, src/_page-home.scss */
.app-icon-wrapper {
  height: 200px;
}
/* line 245, src/_page-home.scss */
.app-icon-wrapper div {
  display: inline-block;
  margin: 4px;
  position: relative;
  top: 70px;
}

/* line 253, src/_page-home.scss */
.viaplus-splitpic {
  height: 295px;
  width: 100%;
  background-image: url("/static/img/reference-hero4.png");
  background-size: 100%;
}

/* line 260, src/_page-home.scss */
.hand-crafted-wrapper {
  background-color: #131313;
  height: 655px;
}
/* line 264, src/_page-home.scss */
.hand-crafted-wrapper .sigblock {
  font-size: 16px;
  font-family: "Proxima N W15 Smbd";
  color: white;
  text-align: left;
  height: 40px;
  width: 300px;
  position: relative;
  top: 100px;
  left: 427px;
}
/* line 275, src/_page-home.scss */
.hand-crafted-wrapper .sigblock span {
  font-family: "Proxima N W01 Thin Reg";
  color: #bbbbbb;
  display: block;
}

/* line 283, src/_page-home.scss */
.product-video {
  background-color: #131313;
}

/* line 287, src/_page-home.scss */
.video-tour-btn-wrapper {
  height: 140px;
}
/* line 290, src/_page-home.scss */
.video-tour-btn-wrapper .video-tour-btn {
  height: 80px;
  width: 90px;
  display: inline-block;
  margin: 30px;
}
/* line 296, src/_page-home.scss */
.video-tour-btn-wrapper .video-tour-btn .play-button {
  height: 45px;
  width: 80px;
  border: 2px solid #bbbbbb;
  border-radius: 2px;
  font-family: "Proxima N W15 Smbd";
  font-size: 26px;
  margin: 0;
}
/* line 306, src/_page-home.scss */
.video-tour-btn-wrapper .video-tour-btn span {
  display: block;
  font-family: "Proxima N W01 Thin Reg";
  font-size: 14px;
  margin-top: 15px;
  position: relative;
  left: -2px;
}

/* line 316, src/_page-home.scss */
.page-break {
  margin: 0;
}

/* line 320, src/_page-home.scss */
.awards-accolades-wrapper {
  background-color: #131313;
  height: 415px;
  width: 100%;
}

/* line 326, src/_page-home.scss */
.awards {
  height: 110px;
  width: 300px;
  margin: auto;
  display: inline-block;
  position: relative;
  top: 90px;
}
/* line 334, src/_page-home.scss */
.awards .award-img {
  height: 77px;
  width: 140px;
  background-color: #1f1f1f;
}
/* line 340, src/_page-home.scss */
.awards .award-details {
  font-family: "Proxima N W15 Smbd";
  font-size: 14px;
  color: white;
  width: 122px;
  text-align: left;
  display: inline-block;
  position: relative;
  top: -65px;
  left: 65px;
}
/* line 351, src/_page-home.scss */
.awards .award-details span {
  display: block;
  font-family: "Proxima N W15 Reg";
  color: #bbbbbb;
}

/* line 359, src/_page-home.scss */
footer {
  height: 156px;
  width: 100%;
  background-color: black;
}
/* line 364, src/_page-home.scss */
footer .footer-btn {
  width: 50%;
  position: relative;
  left: -100px;
  top: 15px;
}
/* line 372, src/_page-home.scss */
footer .next-up {
  height: 80px;
  width: 410px;
  display: inline-block;
  text-align: left;
  position: relative;
  top: 25px;
}
/* line 380, src/_page-home.scss */
footer .next-up p {
  font-family: "Proxima N W01 Thin Reg";
  font-size: 28px;
  color: white;
  margin: 0;
}
