/* line 18, src/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* line 25, src/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 32, src/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 37, src/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 42, src/_reset.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 48, src/_reset.scss */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 53, src/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 59, src/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 65, src/_reset.scss */
sup {
  top: -0.5em;
}

/* line 68, src/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 73, src/_reset.scss */
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 85, src/_reset.scss */
#map_canvas img {
  max-width: none;
}

/* line 93, src/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 99, src/_reset.scss */
button,
input {
  *overflow: visible;
  line-height: normal;
}

/* line 104, src/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 111, src/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 115, src/_reset.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 122, src/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 125, src/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 131, src/_reset.scss */
ul, ol {
  padding: 0;
  margin: 0 0 0.6 25px;
}

/* line 138, src/_reset.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 141, src/_reset.scss */
li {
  line-height: 1.2;
}

/* line 145, src/_reset.scss */
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* line 149, src/_reset.scss */
dl {
  margin-bottom: 1.2;
}

/* line 153, src/_reset.scss */
dt,
dd {
  line-height: 1.2;
}

/* line 156, src/_reset.scss */
dt {
  font-weight: bold;
}

/* line 159, src/_reset.scss */
dd {
  margin-left: 0.6;
}

/* line 16, src/_scaffolding.scss */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: white;
  background-color: black;
}

/* line 25, src/_scaffolding.scss */
.content {
  text-align: center;
}

/* line 33, src/_scaffolding.scss */
.embed-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
/* line 38, src/_scaffolding.scss */
.embed-container iframe, .embed-container object, .embed-container embed, .embed-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 7, src/_type.scss */
a {
  color: #0088cc;
  text-decoration: none;
}
/* line 10, src/_type.scss */
a:hover {
  color: #005580;
  text-decoration: underline;
}

/* line 18, src/_type.scss */
p {
  margin: 0 0 0.6;
  font-family: "Proxima N W15 Reg";
  font-size: 20px;
}

/* line 28, src/_type.scss */
small {
  font-size: 85%;
}

/* line 29, src/_type.scss */
strong {
  font-weight: bold;
}

/* line 30, src/_type.scss */
em {
  font-style: italic;
}

/* line 31, src/_type.scss */
cite {
  font-style: normal;
}

/* line 36, src/_type.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0.6 0;
  line-height: 1;
  text-rendering: optimizelegibility;
  text-spacing: 10;
}

/* line 43, src/_type.scss */
h1 {
  font-size: 65px;
  line-height: 40px;
  color: white;
  font-family: "Proxima N W01 Thin Reg";
  font-weight: bold;
  margin: 50px 0 20px 0;
}

/* line 52, src/_type.scss */
h2 {
  font-size: 64px;
  line-height: 50px;
  color: white;
  font-family: "Proxima N W01 Thin Reg";
  text-transform: uppercase;
  font-weight: 100;
  margin: 25% 0 15px 0;
  letter-spacing: 1.5px;
}

/* line 63, src/_type.scss */
h3 {
  font-size: 55px;
  line-height: 55px;
  color: white;
  font-weight: 100;
  padding: 0;
  margin: 20px 0 20px 0;
  letter-spacing: 1.5px;
}

/* line 73, src/_type.scss */
h4 {
  font-size: 40px;
  line-height: 40px;
  color: #ac3322;
  font-family: "Proxima N W01 Thin Reg";
  font-weight: 100;
  padding: 0;
  margin: 5px 0 20px 0;
  letter-spacing: 1.5px;
}

/* line 84, src/_type.scss */
h5 {
  font-size: 36px;
  line-height: 36px;
  color: #ac3322;
  font-family: "Proxima N W01 Thin Reg";
  font-weight: 100;
  padding: 0;
  margin: 20px 0 20px 0;
  letter-spacing: 1.5px;
}

/* line 95, src/_type.scss */
h6 {
  font-size: 14px;
  line-height: 20px;
}

/* line 100, src/_type.scss */
hr {
  margin: 1.2 0;
  height: 2px;
  border: 0;
  margin-top: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid white;
}

/* line 110, src/_type.scss */
address {
  display: block;
  margin-bottom: 1.2;
  font-style: normal;
  line-height: 1.2;
}

/* line 5, src/_p-styles-template.scss */
.info .main-info {
  width: 650px;
  line-height: 30px;
  font-weight: 100;
  margin: auto;
}
