//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: 1px solid $light-grey;
    padding: 0;
    color: $lighter-grey;
    font-family: $ProximaRegular;
    font-size: 15px;
    text-transform: uppercase;
    
    //Hover State
    &:hover {
        background-color: $light-grey;
        border: 1px solid $black;
        color: $black
    }
    
    // Focus state for keyboard and accessibility
    &:focus {
        @include tab-focus();
    }
}

// Core
.btn {
    display: inline-block;
    @include ie7-inline-block();

    .btn-large {
        width: 268px;
        height: 56px;
    }

    .btn-medium {
        width: 188px;
        height: 46px;
        margin: 10px;
    }
}