//
// Styles Page Specific

.info {
	color: $lighter-grey;
	
	>div {
		margin: 40px;
	}
	.main-info {
	width: 650px;
	line-height: 30px;
	font-weight: 100;
	margin: auto;
	}
	
	.details {
	width: 285px;
	font-size: 16px;
	font-weight: 100;
	text-align: left;
	line-height: 25px;
	margin: 40px;
	position: relative;
	display: inline-block;
		
		span {
			font-size: 25px;
			line-height: 25px;
			display: block;
			margin-bottom: 20px;
			line-height: 30px;
		}
	}
}

blockquote {
	width: 569px;
	margin: auto;
	text-align: justify;
	position: relative;
	quotes: "“" "”" "‘" "’";
	
	&:before {
		content: open-quote;
		position: absolute;
		color: $light-grey;
		font-size: 50px;
		font-weight: bold;
		font-family: timesNewRoman;
		left: -35px;
		top: -7px;
		
	}

	p {
		line-height: 40px;
		font-size: 18px;
		font-weight: 100;
		font-family: $ProximaRegular;
		color: $lighter-grey;
		border-bottom: 1px solid $light-grey;
		padding-bottom: 10px;
		display: inline;
		position: relative;

		&:after {
			content: close-quote;
			position: absolute;
			color: $light-grey;
			font-size: 50px;
			font-weight: bold;
			font-family: timesNewRoman;
			right: -35px;
			bottom: -7px;
		}
	}
}

.stamp {
	border-top: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
	display: inline-block;
	width: 200px;
	height: 80px;
	padding: 20px;
	margin: 20px;
	
	p {
		font-family: $ProximaRegular;
		font-size: 55px;
		color: $white;
		letter-spacing: -1px;
		position: relative;
		top: -55px;
	}

	span {
		font-size: 14px;
		color: $lighter-grey;
		display: block;
		margin-top: 0;
	}
}

.stamp-logo {
	@extend .stamp;

}

.details-stamp {
	@extend .stamp;
	position: relative;
	width: 125px;
	height: 90px;
	top: -100px;

	p {
		
		display: inline-block;
		font-size: 35px;
		letter-spacing: -1px;
		position: relative;
		top: -25px;
		// line-height: 1.7;
		position: relative;
	}
}

.btn {
	margin: 200px;
	
	div {
		margin: 25px;
	}
}