//
// Page - Home
// --------------------------------------------------

//Global nav
.global-nav-wrapper {
	height: 550px;
	width: 100%;
	background-image: url('/static/img/showfloor.png');
	background-size: 100%;

	.mainlogo{
		@extend .ui-vizio-logo;
		position: absolute;
		top: 40px;
		left: 40px;
	}
	
	p {
		text-transform: uppercase;
		font-family: $ProximaThin;
		font-weight: 100;
		font-size: 30px;
		margin-top: -20px;
		word-spacing: 2.5px;
		position: relative;
		top: 235px;
	}
	
	nav {
		position: relative;
		top: 300px;

		li {
		display: inline-block;
		margin: 17px;
		text-transform: uppercase;
		
		&:last-child span {
				width: 100px;
				text-align: center;
				margin: auto;
			}
		.ui-icon-viaplus{
			position: relative;
			left: 25%;

			}
		}
			
		span {
			display: block;
			margin: auto;
			position: relative;
		}

		.navbar-undertitle {
			width: 69px;
			position: relative;
			top: 15px;
			
			
		}
	}
}

// Main content
.reference-series {
	height: 1050px;
	width: 100%;
	margin: 0;
	background-image: url('/static/img/reference-hero.png');
	background-size: 100%;
	position: relative;

	.series-info {
		top: 325px;
	}

}

.references-series-details {
	height: 1806px;
	width: 100%;
	background-image: url('/static/img/reference-hero2.png');
	background-size: 100%;

	.series-info {
		font-size: 21px;
	}

	.title {
		position: relative;
		top: 60px;
	}

	.splitter {
		height: 700px;
		width: 100%;
	}
	
	.main-details {
		width: 1100px;
		margin: auto;
		@include clearfix();
	}
	
	.details-wrapper {
		height: 350px;
		width: 500px;
		margin: 10px;
		float: left;

	}
}

.performance-wrapper{
	background-color: $greyBackground;
	height: 735px;
}

.performance-info {

	aside {
		text-align: left;
		width: 500px;
		padding: 0;
		margin: 20px;
		position: relative;
		top: 150px;
		left: 200px;

		p {
			width: 400px;
			font-size: 16px;
		}	
	}

	h5 {
		top: 0;
		margin: 0;
	}
}

.speed-graph {
		height: 170px;
		width: 440px;
		border-top: 1px solid $light-grey;
		border-bottom: 1px solid $light-grey;
		position: relative;
		left: 750px;

	p {
		font-size: 30px;
		width: 40px;
		position: relative;
		top: 40px;
		left: 25px;
		font-family: $ProximaThin;
		margin: 0;

	}

	.faster {
		width: 300px;
		border-top: 4px solid $red;
		position: relative;
		left: 105px;
		top: 15px;
		margin-bottom: 20px;
		color: $red;
	}
	
	.slower {
		width: 300px;
		border-top: 4px solid $lighter-grey;
		position: relative;
		left: 105px;
		top: 15px;

	}
	span {
		font-size: 13px;
		font-family: $ProximaSemiBold;
		text-transform: uppercase;
	}
	
	.left {
		float: left;
		margin-top: 10px;
	}
	
	.right {
		float: right;
		margin-top: 10px;
	}
}

.audio {
	height: 1050px;
	width: 100%;
	margin: 0;
	padding: 0;

	.title-wrapper {
		background-image: url('/static/img/reference-hero3.png');
		background-size: 100%;
		height: 460px;
		width: 100%;
	}
}

.audio-details {
	margin-top: 80px;

	p {
		width: 605px;
		font-size: 16px;
		margin: auto;
	}
	
	.stamp-logo-wrapper{
		margin-top: 60px;
	}
}

.viaplus-wrapper {
	background-color: $greyBackground;
	
	h5 {
		padding-top: 60px;
	}

	.viaplus-info {
		width: 600px;
		margin: auto;
		font-size: 16px;
	}

}

.app-icon-wrapper {
	height: 200px;

	div {
		display: inline-block;
		margin: 4px;
		position: relative;
		top: 70px;
	}
}

.viaplus-splitpic {
	height: 295px;
	width: 100%;
	background-image: url('/static/img/reference-hero4.png');
	background-size: 100%;
}

.hand-crafted-wrapper {
	background-color: $greyBackground;
	height: 655px;
	
	.sigblock {
		font-size: 16px;
		font-family: $ProximaSemiBold;
		color: white;
		text-align: left;
		height: 40px;
		width: 300px;
		position: relative;
		top: 100px;
		left: 427px;

		span {
			font-family: $ProximaThin;
			color: $lighter-grey;
			display: block;
		}
	}
}

.product-video {
	background-color: $greyBackground;
}

.video-tour-btn-wrapper {
	height: 140px;

	.video-tour-btn {
		height: 80px;
		width: 90px;
		display: inline-block;
		margin: 30px;

		.play-button {
			height: 45px;
			width: 80px;
			border: 2px solid $lighter-grey;
			border-radius: 2px;
			font-family: $ProximaSemiBold;
			font-size: 26px;
			margin: 0;
		}

		span {
			display: block;
			font-family: $ProximaThin;
			font-size: 14px;
			margin-top: 15px;
			position: relative;
			left: -2px;
		}
	}
}	
.page-break {
	margin: 0;
}

.awards-accolades-wrapper {
	background-color: $greyBackground;
	height: 415px;
	width: 100%;
}

.awards {
	height: 110px;
	width: 300px;
	margin: auto;
	display: inline-block;
	position: relative;
	top: 90px;

	.award-img {
		height: 77px;
		width: 140px;
		background-color: #1f1f1f;
	}

	.award-details {
		font-family: $ProximaSemiBold;
		font-size: 14px;
		color: $white;
		width: 122px;
		text-align: left;
		display: inline-block;
		position: relative;
		top: -65px;
		left: 65px;

		span {
			display: block;
			font-family: $ProximaRegular;
			color: $lighter-grey;
		}
	}
}

footer {
	height: 156px;
	width: 100%;
	background-color: $bodyBackground;

	.footer-btn {
		@extend .btn;
		width: 50%;
		position: relative;
		left: -100px;
		top: 15px;
	}

	.next-up {
		height: 80px;
		width: 410px;
		display: inline-block;
		text-align: left;
		position: relative;
		top: 25px;

		p {
			font-family: $ProximaThin;
			font-size: 28px;
			color: $white;
			margin: 0;
		}
	}

}