//
// Typography
// ---------------------------

// Links
// -------------------------
a {
    color: $linkColor;
    text-decoration: none;
    &:hover {
        color: $linkColorHover;
        text-decoration: underline;
    }
}

// Body text
// -------------------------
p { 
    margin: 0 0 $baseLineHeight / 2;
    font-family: $ProximaRegular;
    font-size: 20px;
    position: relative;

}


// Emphasis & Misc
// -------------------------
small { font-size: 85%; }
strong { font-weight: bold; }
em { font-style: italic; }
cite { font-style: normal; }


// Headings
// -------------------------
h1, h2, h3, h4, h5, h6 {
    margin: ($baseLineHeight / 2) 0;
    line-height: 1;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
    text-spacing: 10;
   
}
h1 {    
    font-size: 65px; 
    line-height: 40px;
    position: relative;
    top: 200px;
    color: $white;
    font-family: $ProximaSemiBold;
    margin: 0;
    text-align: center;

}
h2 { 
    font-size: 64px; 
    line-height: 50px;
    color: $white;
    position: relative;
    top: 300px;
    font-family: $ProximaThin;
    text-transform: uppercase;
    font-weight: $headingsFontWeight;
    margin: 0;  
    letter-spacing: $headingsLetterSpacing;
}

h3{
    font-size: 55px;
    line-height: 55px;
    color: $white;
    font-weight: $headingsFontWeight;
    padding: 0;
    margin: 20px 0 20px 0;
    letter-spacing: $headingsLetterSpacing;
}

h4 { 
    font-size: 40px;
    line-height: 40px;
    color: $red;
    position: relative;
    top: 320px;
    font-family: $ProximaThin;
    font-weight: $headingsFontWeight;
    padding: 0;
    margin: 0;
    letter-spacing: $headingsLetterSpacing;
}

h5 { 
    font-size: 36px; 
    line-height: 36px;
    color: $red;
    font-family: $ProximaThin;
    font-weight: $headingsFontWeight;
    padding: 0;
    margin: 60px 0 25px 0;
    letter-spacing: $headingsLetterSpacing;
}

h6 { 
    font-family: $ProximaRegular;
    font-size: 16px; 
    text-transform: uppercase;
    color: $light-grey;
    line-height: 20px; 
}

// Horizontal rules
hr {
    margin: $baseLineHeight 0;
    height: 2px;
    border: 0;
    margin-top: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid $white;
}

// Addresses
address {
    display: block;
    margin-bottom: $baseLineHeight;
    font-style: normal;
    line-height: $baseLineHeight;
}